* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100;
}

.todo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 200;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 0;
}

.todo > label {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.toggle {
  flex: 1;
  cursor: pointer;
  margin-left: 0px;
  vertical-align: middle;
}
.toggle {
  display: none;
}

.toggle + label {
  margin-left: 50px;
}

.toggle + label:before {
  position: absolute;
  left: 2px;
  content: "⬜️";
  margin-right: 10px;
}

.todo input:checked + label:before {
  content: "👌";
}

.todo input:checked + label {
  text-decoration: line-through;
}

.toggle {
  position: relative;
  cursor: pointer;
}
.toggle:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;

  border-radius: 3px;
  background-color: #dddd;
}
.toggle:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.removeTodo {
  background: none;
  border: 1px solid transparent;
  border-radius: 16px;
  margin-left: auto;
  align-self: center;
  margin-right: 0.5rem;
  color: #555555;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 1%;
}

.removeTodo:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #dddd;
}
