* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100;
}

.main::-webkit-scrollbar {
  display: none;
}

.main {
  width: 35rem;
  height: var(--main-height);
  max-height: 80vh;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

button {
  cursor: pointer;
}
