* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100;
}

.list ul {
  list-style: none;
  margin-top: 5px;
}

.list ul > li {
  display: flex;
  justify-content: c;
  align-items: center;
  height: 3rem;
  background-color: white;
  margin-bottom: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.list label {
  flex: 1;
  cursor: pointer;
  margin-left: 0px;
  vertical-align: middle;
}
.list input {
  display: none;
}

.list input + label:before {
  position: absolute;
  left: 2px;
  content: "⬜️";
  margin-right: 10px;
}

.list input:checked + label:before {
  content: "👌";
}

/* input[type=checkbox] {
    position: relative;
      cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    
    border-radius: 3px;
    background-color: #dddd;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
} */
